{% extends "layout.njk" %}

{% block content %}
  <!-- Introduction -->
  <section class="intro">
    <h1 class="section__title section__title--intro">
      Este é o serviço
      <strong>{{job.title}}</strong>
    </h1>
    <p class="section__subtitle--intro">
      {{job.subTitle}}
    </p>
    <img src="{{job.banner}}" alt="Imagem do projeto" class="intro__img">
  </section>

  <div class="portfolio-item-individual">
    <p>
      {{job.mainDescription}}
    </p>
    <img src="{{job.result}}" class="result__img" alt="">
    <p>
      {{job.mainDescription}}
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto reprehenderit ut esse voluptatum doloribus possimus ex totam iste accusamus. Quas illo inventore necessitatibus labore libero pariatur accusamus facere quibusdam facilis?
    </p>
  </div>
{% endblock content %}
<!-- Footer -->
<!-- <footer class="footer"> <a href="mailto:oliveiradiasa@gmail.com" class="footer__link">oliveiradiasa@gmail.com</a> <ul class="social-list"> <li class="social-list__item"> <a class="social-list__link" href="https://github.com/andersondi"> <i class="fab fa-github"></i> </a> </li> <li class="social-list__item"> <a class="social-list__link" href="https://linkedin.com/in/aodias"> <i class="fab fa-linkedin"></i> </a> </li> </ul> </footer> </body>-->
{% block scripts %}
  <script src="./scripts/index.js"></script>
{% endblock scripts %}
<!--</html> -->