<head>
  <meta charset="UTF-8">
  <meta name="viewfort" content="width=device-width, initial-scale=1.0">
  <title>Anderson's Portifolio</title>
  <script src="https://kit.fontawesome.com/c3b39e2490.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>